{% extends "base_etendue.html" %}

{% block contenu %}
<h1>Les pupitres</h1>
<br />
<div id="">
    Notre orchestre contient les principaux instruments que l'on peut trouver dans un orhcestre harmomnique "classique", séparés en plusieurs pupitres :<br />
    <br />
    {% for instrument, dico_instru_membres in dico_instrument_membres.items %}

        <h4 class="instrument">{{ dico_instru_membres.instrument|capfirst }}</h4>

        {% for membre in dico_instru_membres.membres %}

            {% if membre == dico_instru_membres.membres|last %}

                {{ membre }}

            {% else %}

                {{ membre }},

            {% endif %}

        {% endfor %}

    {% endfor %}
</div>
{% endblock %}
