{% extends "base_etendue.html" %}
{% load static %}

{% block contenu %}
<h1>Agenda</h1>
<div id="">

    <p>
        Vous trouverez ci-après la liste des évènements passés et à venir.<br />
        <br />
        N'hésitez pas à vous abonner à un(des) évènement(s) (en cliquant sur la croix à droite de chaque évènement) pour être informé quelques semaines avant et bloquer le créneau dans votre agenda ;-)
    </p>

    {% for evenement in liste_des_evenements %}
        <div class="agenda_concert">
            <p class="bordure_gauche"></p>
            <p class="description_evenement">
                <strong>{{ evenement.nom }}</strong><br />
                Lieu : {{ evenement.lieu }}<br />
                Date : {{ evenement.date }}
            </p>
            <a class="lien_abonnement_evenement" href="{% url 'abonnement_evenement' evenement.nom %}"><img src="{% static 'img/test_ajout.png' %}" /></a>
        </div>
    {% endfor %}

</div>
{% endblock %}
