{% extends "base_etendue.html" %}

{% block contenu %}
<h1>Agenda</h1>
<br />
<div id="">
    Vous trouverez ci-après la liste des évènements passés et à venir.<br />
    N'hésitez pas à vous abonner à un(des) évènement(s) pour être informé quelques semaines avant et bloquer le créneau dans votre agenda ;-)

    <br />
    <br />

    <div class="agenda_concert">
        <p class="bordure_gauche"></p>
        <p class="description_evenement">Evènement : Concert du nouvel an<br />
        Lieu : Salle des fêtes de Mondonville<br />
        Date : 17 janvier 2020</p>
    </div>

</div>
{% endblock %}
