{% extends "base.html" %}

{% block authentification %}

    {% if user.is_authenticated %}
        <div>
            <img src="{{ request.user.membre.avatar.url }}" id="avatar_membre"/><br />
            <a href="{% url 'deconnexion' %}" id="lien_deconnexion">Se déconnecter</a>
        </div>
        
    {% else %}
        
        <p id="lien_connexion" data-url="{% url 'authentification' %}" verification-login-url="{% url 'verification_login' %}">Se connecter</p>
        
    {% endif %}
    
{% endblock %}
