{% extends "base.html" %}

{% block authentification %}

    {% if user.is_authenticated %}
        <div>
            <button type="button" class="btn" data-toggle="modal" data-target="#id_panneau_lateral">
                <img src="{{ request.user.membre.avatar.url }}" id="avatar_membre"/>
            </button>
        </div>
        
    {% else %}
        
        <p id="lien_connexion" data-url="{% url 'authentification' %}" verification-login-url="{% url 'verification_login' %}">Se connecter</p>
        
    {% endif %}
    
{% endblock %}
