{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
       <meta charset="utf-8" />
       <title>{% block title %}La Lyre d'Alliez{% endblock %}</title>

        <!-- Feuilles de style -->
        <!-- ----------------- -->

        <!-- feuille de style Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

        <!-- feuille de style datepicker Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/datepicker.css' %}" />

        <!-- feuille de style blueimp Gallery -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/blueimp-gallery.min.css' %}" />

        <!-- feuille de style pour le panneau latéral du membre connecté -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/panneau_lateral.css' %}" />

        <!-- feuille de style globale -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/overall_style.css' %}" />
    </head>

    <body>
        <header>
            <!-- Zone pour l'affichage de messages -->
            <div id="zone_de_messages">
                {% block zone_de_messages %}{% endblock %}
            </div>

            <!-- Zone pour l'authentification -->
            <div id="authentification">
                {% block authentification %}{% endblock %}
            </div>

            <!-- Zone pour l'affichage du titre et du menu -->
            <div id="titre_et_menu">
                <div id="titre_header">
                    <h3>Bienvenue sur le site de la Lyre d'Alliez</h3>
                </div>
                <nav id="navigation">{% block navigation %}{% endblock %}</nav>
            </div>

            <!-- Bootstrap modal pour l'authentification -->
            <div class="modal fade" id="modal-authentification" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                    </div>
                </div>
            </div>

            <!-- Bootstrap modal pour le panneau latéral du membre connecté -->
            <div class="modal right panneau-lateral fade" id="id_panneau_lateral" tabindex="-1" role="dialog" aria-labelledby="panneau-lateral-label">
                <div class="modal-dialog panneau-lateral" role="document">
                    <div class="modal-content panneau-lateral">
                        <div class="modal-header panneau-lateral">
                            <img src="{{ request.user.membre.avatar.url }}" id="avatar_membre"/>
                        </div>

                        <div class="modal-body panneau-lateral">
                            <button type="button" class="btn" data-toggle="modal" id="lien_deconnexion" data-url="{% url 'deconnexion' %}">
                                Se déconnecter
                            </button>
                            <!-- {% comment %} <a href="" id="lien_deconnexion" data-url="{% url 'deconnexion' %}">Se déconnecter</a> {% endcomment %} -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Bootstrap modal pour la déconnexion -->
            <div class="modal fade" id="modal-deconnexion" tabindex="-1">
                <div class="modal-dialog deconnexion">
                    <div class="modal-content deconnexion">
                    </div>
                </div>
            </div>
        </header>

        <section id="contenu">
            <div id="conteneur-du-contenu">
                {% block contenu %}{% endblock %}
            </div>
        </section>

        <footer id="footer">{% block footer %}{% endblock %}</footer>

        <!-- Scripts Javascript -->
        <!-- ------------------ -->

        <!-- jQuery -->
        <script src="{% static 'js/jquery.js' %}"></script>

        <!-- Bootstrap -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <!-- Datepicker Bootstrap -->
        <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>

        <!-- Formulaire d'authentification -->
        <script src="{% static 'js/authentification.js' %}"></script>

        <!-- Déconnexion -->
        <script src="{% static 'js/deconnexion.js' %}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
