{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
       <meta charset="utf-8" />
       <link rel="stylesheet" type="text/css" href="{% static 'css/overall_style.css' %}" />
       <!-- Début ajout -->
       <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"> -->
       <!-- Fin ajout -->
       <title>{% block title %}La Lyre d'Alliez{% endblock %}</title>
    </head>
    <body>
        <!-- Début ajout -->
        <!-- <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
        <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script> -->
        <!-- Fin ajout -->
        <header>
            <div id="zone_de_messages">
                {% block zone_de_messages %}{% endblock %}
            </div>

            <div id="authentification">
                {% block authentification %}{% endblock %}
            </div>

            <div id="titre_et_menu">
                <div id="titre_header">
                    <h3><a href="{% url 'accueil' %}">Bienvenue sur le site de la Lyre d'Alliez</a></h3>
                </div>
                <nav id="navigation">{% block navigation %}{% endblock %}</nav>
            </div>
        </header>
        <section id="contenu">{% block contenu %}{% endblock %}</section>
        <footer id="footer">{% block footer %}{% endblock %}</footer>
    </body>
</html>
