{% extends "base_etendue.html" %}
{% load static %}

{% block contenu %}
<h1>Evènements de l'année {{ annee }}</h1>
<div>
    <p>
        Retrouvez tous nos concerts, et les programmes associés, pour l'année {{ annee }}. Cliquez sur un évènement pour afficher le programme associé.
    </p>

    <form action="{% url 'historique_des_concerts' %}" id="fin_visionnage_evenements_de_l_annee">
        <input type="submit" id="bouton_retour_historique_des_concerts" value="Retour" />
    </form>

    <div class="conteneur_des_evenements_annee">
    {% for evenement in liste_des_evenements_de_l_annee %}
        <a href="{% url 'voir_programme' evenement.pk annee %}" class="lien_vers_programme_evenement_de_l_annee">
            <div class="conteneur_evenements_annee">
                <p class="bordure_gauche_annee"></p>
                <p class="description_evenement_annee">
                    <strong>{{ evenement.nom }}</strong><br />
                    Lieu : {{ evenement.lieu }}<br />
                    Date : {{ evenement.date }}
                </p>
            </div>
        </a>
    {% endfor %}
    </div>

</div>
{% endblock %}
