{% extends "base_etendue.html" %}

{% block contenu %}

    <div class="conteneur_global_de_l_article">

        <div class="lecture_article">

            <h2 class="titre_lecture_article">{{ article.titre }}</h2>
            <p id="date_lecture_article">{{ article.date }}</p>
            <p id="description_lecture_article">{{ article.description }}</p>
            <form action="{% url 'liste_des_articles' %}" id="fin_lecture_article">
                <input type="submit" id="bouton_retour_liste_des_articles" value="Retour"/>
            </form>

            {% for commentaire in liste_des_commentaires %}
                <div class="commentaire">
                    <p class="texte_commentaire">{{ commentaire.texte }}</p>
                    <p class="date_commentaire">{{ commentaire.date }}</p>
                </div>
            {% endfor %}

            {% if user.is_authenticated %}
            <form action="{% url 'lire_article' article.id %}" method="POST" class="formulaire_ajout_commentaire">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Envoyer le commentaire" />
            </form>
            {% endif %}

        </div>

    </div>

{% endblock %}
