{% extends "base_etendue.html" %}

{% block contenu %}
<h1>Les pupitres</h1><br />
<br />
<div id="">
Notre orchestre contient les principaux instruments que l'on peut trouver dans un orhcestre harmomnique "classique", séparés en plusieurs pupitres :<br />
<br />
{% for instrument, liste_des_membres in dico_instrument_membres.items %}

    <h4>{{ instrument|capfirst }}</h4>

    {% for membre in liste_des_membres %}

        {% if membre == liste_des_membres|last %}

            {{ membre }}

        {% else %}

            {{ membre }},

        {% endif %}

    {% endfor %}

{% endfor %}
</div>
{% endblock %}
