{% extends "base_etendue.html" %}

{% block sous_menu_association %}
<ul id="sous_menu_association">
    <li>
        <a href="{% url 'presentation' %}">Présentation : notre histoire</a>
    </li>
    <li>
        <a href="{% url 'bureau' %}">Le bureau</a>
    </li>
    <li>
        <a href="{% url 'les_pupitres' %}">Les pupitres</a>
    </li>
    <li>
        <a href="{% url 'articles_de_presse' %}">Articles de presse</a>
    </li>
    <li>
        <a href="">Historique des concerts</a>
        </li>
    <li>
        <a href="">Nos soutients</a>
    </li>
</ul>
{% endblock %}
