{% extends "base_etendue.html" %}
{% load static %}

{% block contenu %}
<h1>Vidéos</h1>
<div>
    <p>
        Retrouvez, année par année, les vidéos de nos concerts et soirées.
    </p>

    <div class="conteneur_dossiers_videos">
    {% for annee in liste_des_annees %}
        <div class="conteneur_dossier_videos_annee">
            <img src="{% static 'img/image_defaut_evenements_annee_200x200.jpg' %}" class="image_dossier_video_annee"/>
            <a href="{% url 'liste_des_videos_pour_annee' annee %}" class="lien_vers_video_de_l_annee"><h2 class="titre_annee_dossier_video_annee">{{ annee }}</h2></a>
        </div>
    {% endfor %}
    </div>

</div>
{% endblock %}
