{% extends "base_etendue.html" %}

{% load static %}

{% block javascripts %}
    <script src="{% static 'js/abonnement_evenement.js' %}"></script>
{% endblock %}

{% block contenu %}
<h1>Agenda</h1>
<div>

    <p>
        Vous trouverez ci-après la liste des évènements passés et à venir.<br />
        <br />
        N'hésitez pas à vous abonner à un(des) évènement(s) pour être informé quelques semaines avant et bloquer le créneau dans votre agenda ;-)
    </p>

    {% for evenement in liste_des_evenements %}
        <div class="agenda_concert">
            <p class="bordure_gauche"></p>
            <p class="description_evenement">
                <strong>{{ evenement.nom }}</strong><br />
                Lieu : {{ evenement.lieu }}<br />
                Date : {{ evenement.date }}
            </p>
            <p id="conteneur-bouton-abonnement">
                <button type="button" class="btn btn-success js-abonnement-evenement" data-url="{% url 'abonnement_evenement' evenement.id %}">
                    S'abonner
                </button>
            </p>
        </div>
    {% endfor %}

</div>

<!-- Bootstrap modal -->
<div class="modal fade" id="modal-abonnement-evenement" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endblock %}
