{% extends "base_etendue.html" %}

{% load static %}

{% block contenu %}
    <div class="conteneur_global_de_l_article">
        <div class="lecture_article">

            <!-- Affichage de l'article sélectionné -->
            <h2 class="titre_lecture_article">{{ article.titre }}</h2>
            <p id="date_lecture_article">{{ article.date }}</p>
            <p id="description_lecture_article">{{ article.description }}</p>
            <form action="{% url 'liste_des_articles' %}" id="fin_lecture_article">
                <input type="submit" id="bouton_retour_liste_des_articles" value="Retour"/>
            </form>

            <br />

            <!-- Affichage des commentaires associé à l'article sélectionné -->
            <div id="conteneur_commentaires_article">
                {% include template_affichage_commentaires %}
            </div>

            <!-- Affichage du formulaire permettant de rajouter des commentaires à l'article sélectionné -->
            {% if user.is_authenticated %}
                {% if request.user.membre.est_membre or request.user.membre.est_membre_du_bureau or request.user.membre.est_le_chef %}
                    <form id="formulaire-actualites" class="{{ nom_classe_formulaire }}" method="POST" action="{% url url_pour_action article.id %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="button" value="{{ titre_bouton_envoi }}" class="{{ nom_classe_bouton_envoi }}" data-url="{% url url_pour_data_url article.id %}"/>
                    </form>
                {% endif %}
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- Requête AJAX pour l'ajout d'un commentaire -->
    <script src="{% static 'actualites/js/ajout_d_un_commentaire.js' %}"></script>
{% endblock %}
