{% load static %}

<!DOCTYPE html>
<html lang="fr" id="html_acces_interdit">
<head>
       <meta charset="utf-8" />
       <title>Accès interdit</title>

        <!-- Feuilles de style -->
        <!-- ----------------- -->

        <!-- feuille de style globale -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/overall_style.css' %}" />
    </head>

    <body id="body_acces_interdit">
        <div id="conteneur_global_acces_interdit">
            <div id="titre_acces_interdit">
                <h1>Site de la Lyre d'Alliez</h1>
            </div>
            <div id="conteneur_acces_interdit">
                <div id="contenu_partie_remplie">
                    <h3>L'accès à cette page est restreint aux membres</h3>
                    <div id="message_acces_interdit">
                        Si vous êtes membre merci de bien vouloir vous identifier en cliquant sur "Se connecter" sur la page d'accueil du site.
                        <br />
                        <br />
                        <a href="{% url 'accueil' %}">Retour à l'accueil</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
