<h2 id="titre_modification_mot_de_passe">Modification du mot de passe</h2>

<form method="POST">

    {% csrf_token %}

    {% for field in form %}
        <div>
            {{ field.label_tag }}
            {{ field }}
        </div>

        {% if field.help_text %}
        {% endif %}

        {% if field.errors %}
            {{ field.errors }}
        {% endif %}
    {% endfor %}

    <div id="boutons_actions">
        <button id="bouton_valider_changement_mot_de_passe" type="submit" class="btn btn-success">Enregistrer la modification</button>
        <button id="bouton_annuler_changement_mot_de_passe" type="button" class="btn btn-info" url_pour_redirection="{% url url_pour_redirection %}">Annuler</button>
    </div>

</form>
