{% extends "acces/gestion_des_donnees_membre.html" %}

{% block contenu %}
<div>
    <h4>Erreur d'accès au formulaire de création d'un nouveau profil membre</h4>

    <div>
        <p>
            Vous avez tenté, sans succès, d'accéder au formulaire de création d'un compte membre sur le site de la Lyre d'Alliez !</br></br>
            Peut-être que le lien que vous avez utilisé a déjà été utilisé ?</br>
            Ou peut-être que le lien que vous avez utilisé n'est plus valide ?</br></br>
            Dans tous les cas merci de vous rapprocher de l'équipe d'administration du site afin qu'elle vous génère un nouveau lien :-)</br></br>
            A bientôt sur le site ^^</br></br>
            L'équipe d'administration du site de la Lyre d'Alliez
        </p>
        <p>
            _____________________________________________________________________________________________________________________________________
        </p>
        <p>
            You tried to access, without success, to Lyre d'Alliez website subscription form !</br></br>
            Maybe the link you used has already benn used ?</br>
            Or maybe the link you used expired ?</br></br>
            In any case please refer to the website administration team so that they can provide you with another link :-)</br></br>
            See you soon on the website ^^</br></br>
            The Lyre d'Alliez website administration team
        </p>
    </div>
</div>
{% endblock %}
