{% block panneau_lateral %}
<div class="modal right panneau-lateral fade" id="id_panneau_lateral" tabindex="-1" role="dialog" aria-labelledby="panneau-lateral-label">
    <div class="modal-dialog panneau-lateral" role="document">
        <div class="modal-content panneau-lateral">
            <div class="modal-header panneau-lateral">
                <img src="{{ request.user.membre.avatar.url }}" id="avatar_membre"/>
                <div>{{ request.user.membre.username }}</div>
            </div>

            <div class="modal-body panneau-lateral">
                <button type="button" class="btn" data-toggle="modal" id="bouton_information_personnelles" data-url="">Mes informations personnelles</button>
                <a href="{% url 'changement_du_mot_de_passe' %}"><button type="button" class="btn" data-toggle="modal" id="bouton_changement_mot_de_passe">Changer mon mot de passe</button> </a>
                <a href="{% url 'supprimer_le_compte' %}"><button type="button" class="btn" data-toggle="modal" id="bouton_suppression_du_compte">Supprimer mon compte</button> </a>
                <hr />
                <button type="button" class="btn" data-toggle="modal" id="bouton_deconnexion" data-url="{% url 'deconnexion' %}">Se déconnecter</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
