/* Mise en forme du header */
/*header
{
    display: flex;
    align-items: baseline;
    background-color: RGB(216,125,52);
    border-radius: 10px;
    justify-content: space-between;
}*/
header
{
    display: flex;
    flex-direction: column;
    background-color: RGB(216,125,52);
    /*border-radius: 10px;*/
}

#authentification
{
    display: flex;
    justify-content: flex-end;
}

#lien_connexion, #lien_deconnexion
{
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    text-decoration: underline;
}

#avatar_membre
{
    border-radius: 20px;
}

#titre_et_menu
{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

#titre_header a
{
    margin-left: 10px;
    color: black;
    text-decoration: none;
}

/* Mise en forme du menu de navigation */
nav ul
{
    display: flex;    
    list-style: none;
}

nav li
{
    padding: 0 15px 0 15px; /* haut droite bas gauche */
    border: 1px solid black;
}

nav a
{
    font-size: 1.1em;
    color: black;
    text-decoration: none;
}

#sous_menu_actualites, #sous_menu_association, #sous_menu_zone_de_partage
{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0px;
}

.instrument
{
    background-color: RGB(255,178,103);
}

.agenda_concert
{
    display: flex;
}

.agenda_concert .bordure_gauche
{
    width: 20px;
    background-color: RGB(255,178,103);
}

.agenda_concert .description_evenement
{
    background-color: RGB(200,200,200);
    padding-left: 5px;
    width: 65vw;
}

strong
{
    font-size: 1.1em;
}

/* Mise en forme de la liste des articles */
/* -------------------------------------- */

.conteneur_global_des_articles
{
    display: flex;
    justify-content: center;
}

.articles
{
    display: inline-flex;
    flex-wrap: wrap;
    width: 65%;
}

.article
{
    width: 20%;
    margin: 25px 20px 25px 20px;
}

.lien_image_vers_article, .lien_titre_vers_article, .lien_vers_article
{
    color: black;
    text-decoration: none;
}

.image_article
{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.titre_article
{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#description_article
{
    font-size: 0.9em;
    color: RGB(120,120,120);
}

.lien_vers_article
{
    font-size: 0.9em;
}

#date_article
{
    font-size: 0.9em;
    color: RGB(120,120,120);
}


/* Mise en forme de la lecture d'un  article */
/* ----------------------------------------- */

.lecture_article
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.titre_lecture_article
{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#date_lecture_article
{
    font-size: 0.9em;
    margin-top: 5px;
    padding-top: 0px;
}

.commentaire
{
    border: 1px solid gray;
    margin-bottom: 5px;
}

.texte_commentaire
{
    padding-left: 20px;
    margin-bottom: 5px;
}

.date_commentaire
{
    margin-top: 5px;
    padding-left: 20px;
    font-size: 0.8em;
}
