/* Mise en forme du header */
/* ----------------------- */

header
{
    display: flex;
    flex-direction: column;
    background-color: RGB(216,125,52);
}

#authentification
{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;

    position: fixed;
    top: 25px;
    right: 10px;
}

#lien_connexion, #lien_deconnexion
{
    font-size: 1.1em;
    font-family: fantasy, cursive;
    color: RGB(88,41,0);
    text-decoration: none;
}

#avatar_membre
{
    border-radius: 20px;
}

#titre_et_menu
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#titre_header
{
    padding-left: 5px;
    padding-top: 10px;
    color: black;
    text-decoration: none;
}


/* Mise en forme du body */
/* --------------------- */

body
{
    height: 100%;
    margin:0;
    padding: 0;
}


/* Mise en forme du menu de l'agenda */
/* --------------------------------- */

#contenu
{
    display: flex;
    justify-content: center;
    background-color: RGB(255,217,179);
    height: 100%;
}

#conteneur-du-contenu
{
    width: 66%;
    background-color: white;
    padding-left: 10px;
}


/* Mise en forme du menu de navigation */
/* ----------------------------------- */

nav ul
{
    display: flex;
    list-style: none;
}

nav li
{
    padding: 0 15px 10px 15px; /* haut droite bas gauche */
}

.sous-menu
{
    background-image: url('../img/marker.jpg');
    background-repeat: no-repeat;

    line-height: 20px;
    padding-left: 30px;
}

#sous_menu_actualites, #sous_menu_association
{
    margin-left: 20px;
    border: 1px solid black;
    background-color: RGB(216,125,52);
}

nav a
{
    font-size: 1.1em;
    color: black;
    text-decoration: none;
}

nav a:hover
{
    color: black;
    text-decoration: none;
}


/* Mise en forme de la page des pupitres */
/* ------------------------------------- */

.instrument
{
    background-color: RGB(255,178,103);
}


/* Mise en forme du menu de l'agenda */
/* --------------------------------- */

.agenda_concert
{
    display: flex;
}

.agenda_concert .bordure_gauche
{
    width: 20px;
    background-color: RGB(255,178,103);
}

.agenda_concert .description_evenement
{
    background-color: RGB(255,217,179);
    padding-left: 5px;
    width: 70vw;
}

#conteneur-bouton-abonnement
{
    background-color: RGB(255,217,179);
    margin-right: 10px;
}

.agenda_concert .btn
{
    height: 30px;
    line-height: 15px;
    width: 100px;
    font-weight: bold;
    text-align: center;

}

strong
{
    font-size: 1.1em;
}


/* Mise en forme de la liste des articles */
/* -------------------------------------- */

.conteneur_global_des_articles
{
    display: flex;
    justify-content: center;
}

.articles
{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}

.article
{
    width: 20%;
    margin: 25px 20px 25px 20px;
}

.lien_image_vers_article, .lien_titre_vers_article, .lien_vers_article
{
    color: black;
    text-decoration: none;
}

.image_article
{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.titre_article
{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#description_article
{
    font-size: 0.9em;
    color: RGB(120,120,120);
}

.lien_vers_article
{
    font-size: 0.9em;
}

#date_article
{
    font-size: 0.9em;
    color: RGB(120,120,120);
}


/* Mise en forme de la lecture d'un article */
/* ---------------------------------------- */

.lecture_article
{
    width: 100%;
    padding-left: 20px;
    padding-right: 40px;
}

.titre_lecture_article
{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#date_lecture_article
{
    font-size: 0.9em;
    margin-top: 5px;
    padding-top: 0px;
}

.commentaire
{
    display: flex;
    align-items: center;
}

.infos_redacteur
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
}

.image_commentaire
{
    border-radius: 20px;
    border: 1px solid black;
    margin-bottom: 3px;
}

.username_redacteur
{
    margin-top: 0px;
}

.contenu_commentaire
{
    border: 1px solid gray;
    margin-bottom: 15px;
    width: 100%;
}

.texte_commentaire
{
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 5px;
}

.date_commentaire
{
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 0.8em;
}

.formulaire-ajout-commentaire
{
    width: 50%;
    margin-left: 35%;
    margin-right: 50%;
}


/* Mise en forme de la liste des liens vers les articles de presse */
/* --------------------------------------------------------------- */

.conteneur_lien_vers_article_de_presse
{
    display: flex;
    margin-top: 10px;
}

.bordure_gauche_lien_vers_article_de_presse
{
    width: 20px;
    background-color: RGB(255,178,103);
    border: 1px solid black;
}

.contenu_lien_vers_article_de_presse
{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    padding-left: 10px;
    margin-right: 10px;
    width: 80vw;
}

.titre_lien_vers_article_de_presse
{
    margin-top: 5px;
    margin-bottom: 0px;
}

.description_lien_vers_article_de_presse
{
    margin-top: 0px;
    padding-top: 10px;
}

.lien_vers_article_de_presse
{
    padding-bottom: 10px;
}


/* Mise en forme de nos soutiens */
/* ----------------------------- */

.contenu_des_soutiens
{
    display: flex;
}


/* Mise en forme de l'historique de nos concerts */
/* --------------------------------------------- */

.conteneur_dossiers
{
    display: flex;
    flex-direction: row
    align-items: center;
}

.conteneur_historique_annee
{
    margin-left: 15px;
    margin-right: 15px;
}

.image_evenements_annee
{
    border: 1px solid black;
    margin-bottom: 0px;
}

.titre_annee
{
    border: 1px solid black;
    margin-top: 0px;
    text-align: center;
    background-color: RGB(242,231,191)
}

.lien_vers_evenements_annee
{
    color: black;
    text-decoration: none;
}


/* Mise en forme des évènements d'une année spécifiée */
/* -------------------------------------------------- */

.bouton_affichage_programme_evenement
{
    padding: 0px;
    margin-right: 10px;
}

.conteneur_des_evenements_annee
{
    display: flex;
    flex-direction: column;
}

.conteneur_evenements_annee
{
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
}

.bordure_gauche_annee
{
    padding: 0px;
    width: 20px;
    background-color: RGB(255,178,103);
}

.description_evenement_annee
{
    padding: 5px;
    background-color: RGB(200,200,200);
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lien_vers_programme_evenement_de_l_annee
{
    color: black;
    text-decoration: none;
}


/* Mise en forme des dossiers des photos */
/* ------------------------------------- */

.conteneur_dossiers_photos
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.conteneur_dossier_photo_annee
{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}

.image_dossier_photo_annee
{
    border: 1px solid black;
    margin-bottom: 0px;
}

.titre_annee_dossier_photo_annee
{
    border: 1px solid black;
    margin-top: 0px;
    text-align: center;
    background-color: RGB(242,231,191)
}

.lien_vers_photos_de_l_annee
{
    color: black;
    text-decoration: none;
}


/* Mise en forme des dossiers des photos par année */
/* ----------------------------------------------- */

.conteneur_des_photos_pour_evenements_annee
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.conteneur_dossier_photos_evenements_annee
{
    margin-left: 15px;
    margin-right: 15px;
}

.image_dossier_photo_evenement_annee
{
    border: 1px solid black;
    margin-bottom: 0px;
}

.titre_photos_pour_evenement_de_l_annee
{
    border: 1px solid black;
    margin-top: 0px;
    text-align: center;
    background-color: RGB(242,231,191)
}

.lien_vers_photos_pour_evenement_de_l_annee
{
    color: black;
    text-decoration: none;
}


/* Mise en forme des dossiers des vidéos */
/* ------------------------------------- */

.conteneur_dossiers_videos
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.conteneur_dossier_videos_annee
{
    margin-left: 15px;
    margin-right: 15px;
}

.image_dossier_video_annee
{
    border: 1px solid black;
    margin-bottom: 0px;
}

.titre_annee_dossier_video_annee
{
    border: 1px solid black;
    margin-top: 0px;
    text-align: center;
    background-color: RGB(242,231,191)
}

.lien_vers_video_de_l_annee
{
    color: black;
    text-decoration: none;
}


/* Mise en forme des dossiers des vidéos par année */
/* ----------------------------------------------- */

.conteneur_des_videos_pour_evenements_annee
{
    display: flex;
    flex-direction: row
    align-items: center;
}

.conteneur_dossier_videos_evenements_annee
{
    margin-left: 15px;
    margin-right: 15px;
}

.image_dossier_video_evenement_annee
{
    border: 1px solid black;
    margin-bottom: 0px;
}

.titre_videos_pour_evenement_de_l_annee
{
    border: 1px solid black;
    margin-top: 0px;
    text-align: center;
    background-color: RGB(242,231,191)
}

.lien_vers_videos_pour_evenement_de_l_annee
{
    color: black;
    text-decoration: none;
}


/* Mise en forme des outils du chef */
/* -------------------------------- */

#conteneur_boutons_outils_du_chef
{
    display: flex;
    flex-wrap: wrap;
}

.bouton_outils_du_chef
{
    width: 130px;
    height:130px;
    border-radius: 15px;
    font: Bold 15px Arial;
    padding: 5px;
    background: RGB(216,125,52);
    color: RGB(0,0,0);
    box-shadow: 3px 3px 3px RGB(153,153,153);
    white-space: normal;
    margin-right: 10px;
}

/* Mise en forme des options du membre connecté */
/* -------------------------------------------- */

hr
{
    height: 1px;
    width: 91%;
    color: RGB(200,200,200);
    background-color: RGB(200,200,200);
    border: none;
}

#bouton_information_personnelles:hover, #bouton_changement_mot_de_passe:hover, #bouton_deconnexion:hover
{
    border: 1px solid black;
}


/* Mise en forme de la page de l'accès interdit */
/* -------------------------------------------- */

#body_acces_interdit, #body_modification_donnees_membre
{
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

#titre_acces_interdit, #titre_modification_donnees_membre
{
    background-color: RGB(216,125,52);
    padding: 10px;
}

#conteneur_acces_interdit, #conteneur_modification_donnees_membre
{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: RGB(255,217,179);
}

#contenu_partie_remplie
{
    min-height: 100vh;
    width: 66%;
    background-color: white;
    padding-left: 10px;
}

#titre_principal_modification_donnees_membre
{
    margin-bottom: 0px;
}

#sous_titre_modification_donnees_membre
{
    margin-top: 0px;
    font-weight: normal;
}

#titre_modification_mot_de_passe
{
    margin-top: 10px;
    margin-bottom: 10px;
}

label
{
    width: 19em;
}

#boutons_actions
{
    margin-top: 10px;
}

/* Mise en forme du calendrier */
/* --------------------------- */

#id_calendrier
{
    padding: 20px;
}

// Permet de mettre la première lettre du mois en cours en majuscule
.fc-toolbar
{
    text-transform: capitalize;
}


/* Mise en forme xxx */
/* --------------------------- */

#id_mot_de_passe_oublie
{
    position: absolute;
    left: 10px;
    text-decoration: underline;
}

