{% extends 'acces/gestion_des_donnees_membre.html' %}

{% block contenu %}

    {% if validlink %}

        <h3>Modification du mot de passe</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Changer le mot de passe</button>
        </form>

    {% else %}

        <h3>Modification du mot de passe - Erreur</h3>
        <p>Le lien de réinitialisation du mot de passe est invalide, probablemment car il a déjà été utilisé.</br>
           Merci de faire une nouvelle demande de réinitialisation de mot de passe (en cliquant sur "mot de passe oublié").</p>

    {% endif %}

{% endblock %}
