{% extends "base_etendue.html" %}

{% load static %}

{% block javascripts %}
    <!-- Script qui permet d'interagir avec les boutons constituants les outils du chef -->
    <script src="{% static 'les_outils_du_chef/js/outils_du_chef.js' %}"></script>
{% endblock %}

{% block contenu %}
<h1>Les outils du chef</h1>
<div>
    <p>
        Salut chef ! Voici les outils qui vont t'aider à gérer le contenu du site et bien d'autres choses encore ! Clique sur un bouton pour accéder au formulaire associé.
    </p>

    <div id="conteneur_boutons_outils_du_chef">
    {% for outil in liste_des_outils %}
        <button type="button" class="{{ outil.classe }}" data-url="{% url outil.url %}">
            {{ outil.nom }}
        </button>
    {% endfor %}
    </div>
</div>

<!-- Bootstrap modal -->
<div class="modal fade" id="modal-outils-du-chef" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endblock %}
